<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
   id="SEURAT" 
   name="SEURAT Plug-in"
   version="5.0.0.qualifier"
   provider-name="Janet Burge - Miami University"
   class="edu.wpi.cs.jburge.SEURAT.SEURATPlugin">

   <runtime>
      <library name="SEURAT.jar">
         <export name="edu.wpi.cs.jburge.SEURAT.api.*"/>
      </library>
      <library name="mysql-connector-java-3.0.8-stable-bin.jar"/>
      <library name="derby.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.search"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="SEURAT"
            id="edu.wpi.cs.jburge.SEURAT">
      </category>
           <view
            name="RationaleExplorer"
            icon="icons/Rat.gif"
            category="edu.wpi.cs.jburge.SEURAT"
            class="edu.wpi.cs.jburge.SEURAT.views.RationaleExplorer"
            id="edu.wpi.cs.jburge.SEURAT.views.RationaleExplorer">
      </view>
          <view
            name="CandidateRationaleExplorer"
            icon="icons/Rat.gif"
            category="edu.wpi.cs.jburge.SEURAT"
            class="edu.wpi.cs.jburge.SEURAT.views.CandidateRationaleExplorer"
            id="edu.wpi.cs.jburge.SEURAT.views.CandidateRationaleExplorer">
      </view>
      <!--
      <view
      	name="OntologyExplorer"
      	icon="icons/Rat.gif"
      	category="edu.wpi.cs.jburge.SEURAT"
      	class="edu.wpi.cs.jburge.SEURAT.views.OntologyViewer"
      	id="edu.wpi.cs.jburge.SEURAT.views.OntologyViewer">
      </view>
      <view
        name="DesignerExplorer"
        icon="icons/Rat.gif"
        category="edu.wpi.cs.jburge.SEURAT"
        class="edu.wpi.cs.jburge.SEURAT.views.DesignerView"
        id="edu.wpi.cs.jburge.SEURAT.views.DesignerView">
      </view>
      -->
      <view
            name="Rationale Task List"
            icon="icons/Rat.gif"
            category="edu.wpi.cs.jburge.SEURAT"
            class="edu.wpi.cs.jburge.SEURAT.views.RationaleTaskView"
            id="edu.wpi.cs.jburge.SEURAT.views.RationaleTaskView">
      </view>
      <view
            category="edu.wpi.cs.jburge.SEURAT"
            class="edu.wpi.cs.jburge.SEURAT.views.PatternLibrary"
            icon="icons/rat.GIF"
            id="edu.wpi.cs.jburge.SEURAT.patternlibrary"
            name="Pattern Library"
            restorable="true">
      </view>   
   </extension>
    
   <extension
         id="SEURAT.ratmarker"
         point="org.eclipse.core.resources.markers"
         name="Rationale Marker">
      <persistent value="false"/>
      <super type="org.eclipse.core.resources.bookmark"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <attribute name="alternative"/>
   </extension>
   
   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type markerType="SEURAT.ratmarker"
            name="SEURAT.ratmarkerAnnotation">
      </type>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="SEURAT.ratmarkerAnnotation"
            icon="icons/Rat.gif"

            textPreferenceKey="myAppIndication"
            textPreferenceValue="false"
            overviewRulerPreferenceKey="myAppIndicationInOverviewRuler"
            overviewRulerPreferenceValue="false"
            verticalRulerPreferenceKey="myAppIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true"
            highlightPreferenceKey="myAppHighlighting"
            highlightPreferenceValue="false"
            colorPreferenceKey="myAppIndicationColor"
            colorPreferenceValue="0,0,255"
            presentationLayer="3"
            showInNextPrevDropdownToolbarAction="false"
            includeOnPreferencePage="true"


isGoToPreviousNavigationTargetKey="ismyAppGoToPreviousNavigationTarget"
            label="Rationale Marker"


showInNextPrevDropdownToolbarActionKey="showmyAppInNextPrevDropdownToolbarAction"


isGoToNextNavigationTargetKey="ismyAppRecordGoToNextNavigationTarget"
             >
      </specification>
   </extension>
   
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            objectClass="org.eclipse.core.resources.IResource"
            location="TOP_LEFT"
            adaptable="true"
            label="%SEURATDecorator.rat"
            state="true"
            class="edu.wpi.cs.jburge.SEURAT.decorators.SEURATLightWeightDecorator"
            id="edu.wpi.cs.jburge.SEURAT.decorators.ratdecorator">
         <description>
            The SEURAT decorator indicating rationale presence
         </description>
      </decorator>
   </extension>

   <extension
   		 point="org.eclipse.ui.popupMenus">
   		 <objectContribution
   		 	id="edu.wpi.cs.jburge.SEURAT.action.contribution.popup.project"
   		 	objectClass="org.eclipse.jdt.core.IJavaProject">
   		 	<action
   		 		id="edu.wpi.cs.jburge.SEURAT.actions.OpenRationale"
	      		label="Open Rationale"
	       		class="edu.wpi.cs.jburge.SEURAT.actions.OpenRationale"	
           		definitionId="edu.wpi.cs.jburge.SEURAT.actions.OpenRationale"
	       		enablesFor="1">
	    		</action>
	 	    </objectContribution>
	 	 <objectContribution
   		 	id="edu.wpi.cs.jburge.SEURAT.action.contribution.popup.project"
   		 	objectClass="org.eclipse.core.resources.IProject">
   		 	<action
   		 		id="edu.wpi.cs.jburge.SEURAT.actions.OpenRationale"
	      		label="Open Rationale"
	       		class="edu.wpi.cs.jburge.SEURAT.actions.OpenRationale"	
           		definitionId="edu.wpi.cs.jburge.SEURAT.actions.OpenRationale"
	       		enablesFor="1">
	    		</action>
	 	   </objectContribution>
	 	 <viewerContribution
   			id="edu.wpi.cs.jburge.SEURAT.action.contribution.popup.bookmark"
   			targetID="org.eclipse.ui.views.BookmarkNavigator">
   			<action
   			   label="Remove Association"
   			   class="edu.wpi.cs.jburge.SEURAT.actions.RemoveBookmarkAssociation"
   			   menubarPath="additions"
   			   enablesFor="+"
   			   id="edu.wpi.cs.jburge.SEURAT.actions.RemoveBookmarkAssociation">
   			  </action>
   		  </viewerContribution>
   		 <viewerContribution
   			id="edu.wpi.cs.jburge.SEURAT.action.contribution.popup.explorer"
   			targetID="org.eclipse.jdt.ui.PackageExplorer">
   			<action
   			   label="Remove Association"
   			   class="edu.wpi.cs.jburge.SEURAT.actions.RemoveRationaleAssociation"
   			   menubarPath="additions"
   			   enablesFor="+"
   			   id="edu.wpi.cs.jburge.SEURAT.actions.RemoveRationaleAssociation">
   			  </action>
   		  </viewerContribution>
   		 <viewerContribution
   			id="edu.wpi.cs.jburge.SEURAT.action.contribution.popup.explorer"
   			targetID="org.eclipse.jdt.ui.PackageExplorer">
   			<action
   			   label="Associate"
   			   class="edu.wpi.cs.jburge.SEURAT.actions.AssociateAlternative"
   			   menubarPath="additions"
   			   enablesFor="+"
   			   id="edu.wpi.cs.jburge.SEURAT.actions.AssociateAlternative">
   			  </action>
   		  </viewerContribution>
	</extension>
 
       <extension
             point="org.eclipse.ui.preferencePages">
          <page
                class="SEURAT.preferences.SEURATPreferencePage"
                id="SEURAT.preferences.SEURATPreferencePage"
                name="SEURAT"/>
          <page 
          		class="SEURAT.preferences.SEURATDerbyPreferencePage"
          		id="SEURAT.preferences.SEURATDerbyPreferencePage"
          		name="Derby Database Settings"
          		category="SEURAT.preferences.SEURATPreferencePage"/>
          <page
          		class="SEURAT.preferences.SEURATMysqlPreferencePage"
          		id="SEURAT.preferences.SEURATMysqlPreferencePage"
          		name="Mysql Database Settings"
          		category="SEURAT.preferences.SEURATPreferencePage"/>
       </extension>
 
       <extension
             point="org.eclipse.core.runtime.preferences">
          <initializer class="SEURAT.preferences.PreferenceInitializer"/>
       </extension>
 
 	   <extension
             point="org.eclipse.ui.editors">
          <editor
                class="SEURAT.editors.RequirementEditor"
                default="true"
                extensions="seurat_requirement_editor"
                icon="icons/newReq.gif"
                id="SEURAT.editors.RequirementEditor"
                name="SEURAT Requirement Editor">
          </editor>
          <editor
                class="SEURAT.editors.DecisionEditor"
                default="true"
                extensions="seurat_decision_editor"
                icon="icons/newDec.gif"
                id="SEURAT.editors.DecisionEditor"
                name="SEURAT Decision Editor">
          </editor>
          <editor
                class="SEURAT.editors.AlternativeEditor"
                default="true"
                extensions="seurat_alternative_editor"
                icon="icons/newAlt.gif"
                id="SEURAT.editors.AlternativeEditor"
                name="SEURAT Alternative Editor">
          </editor>
          <editor
                class="SEURAT.editors.ArgumentEditor"
                default="true"
                extensions="seurat_argument_editor"
                icon="icons/newArg.gif"
                id="SEURAT.editors.ArgumentEditor"
                name="SEURAT Argument Editor">
          </editor>
          <editor
                class="SEURAT.editors.TradeoffEditor"
                default="true"
                extensions="seurat_tradeoff_editor"
                icon="icons/Trade.gif"
                id="SEURAT.editors.TradeoffEditor"
                name="SEURAT Tradeoff Editor">
          </editor>
          <editor
                class="edu.wpi.cs.jburge.SEURAT.views.GraphicalRationale"
                default="true"
                extensions="seurat_graphical_rationale"
                icon="icons/newReq.gif"
                id="SEURAT.views.GraphicalRationale"
                name="SEURAT Graphical Rationale">
          </editor>
          <editor
                class="SEURAT.editors.QuestionEditor"
                default="true"
                extensions="seurat_question_editor"
                icon="icons/newQuest.gif"
                id="SEURAT.editors.QuestionEditor"
                name="SEURAT Question Editor">
          </editor>
          <editor
                class="SEURAT.editors.CandidateRationaleEditor"
                default="true"
                extensions="seurat_candidate_rationale_editor"
                icon="icons/Rat.gif"
                id="SEURAT.editors.CandidateRationaleEditor"
                name="SEURAT Candidate Rationale Editor">
          </editor>
          <editor
                class="SEURAT.editors.PatternEditor"
                default="true"
                extensions="seurat_pattern_editor"
                icon="/icons/PatternLib.GIF"
                id="SEURAT.editors.PatternEditor"
                name="SEURAT pattern editor">
          </editor>
          <editor
                class="SEURAT.editors.PatternDecisionEditor"
                default="false"
                extensions="seurat_editors_paterndecisioneditor"
                icon="/icons/Dec.gif"
                id="SEURAT.editors.PatternDecisionEditor"
                name="Pattern Decision Editor">
          </editor>
       </extension>	
       
	<extension point="org.eclipse.help.toc">
		<toc
        	file="toc.xml"
          	primary="true"/>
		<toc file="tocgettingstarted.xml"/>
      	<toc file="tocreference.xml"/>
     	<toc file="toctasks.xml"/>
   		<toc file="tocsamples.xml"/>
	</extension>
       
	<extension point="org.eclipse.search.searchPages">
		<page id="SEURAT.search.searchPage"
			icon="icons/ratSearch.gif"
			label="SEURAT Search Page"
			sizeHint="460,160"
			extensions="seurat_requirement_editor:90, seurat_decision_editor:90, seurat_alternative_editor:90, seurat_argument_editor:90, seurat_tradeoff_editor:90, seurat_question_editor:90"
			showScopeSection="false"
			canSearchEnclosingProjects="false"
			class="SEURAT.search.SearchPage">
		</page>
	</extension>
       
	<extension point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="SEURAT.search.entities.EntitySearchResultPage"
			searchResultClass="SEURAT.search.entities.EntitySearchResultSet"
			class="SEURAT.search.entities.EntitySearchResultPage">
		</viewPage>
		<viewPage
			id="SEURAT.search.requirements.RequirementSearchResultPage"
			searchResultClass="SEURAT.search.requirements.RequirementSearchResultSet"
			class="SEURAT.search.requirements.RequirementSearchResultPage">
		</viewPage>
		<viewPage
			id="SEURAT.search.statusOverrides.StatusOverrideSearchResultPage"
			searchResultClass="SEURAT.search.statusOverrides.StatusOverrideSearchResultSet"
			class="SEURAT.search.statusOverrides.StatusOverrideSearchResultPage">
		</viewPage>
		<viewPage
			id="SEURAT.search.importanceOverrides.ImportanceOverrideSearchResultPage"
			searchResultClass="SEURAT.search.importanceOverrides.ImportanceOverrideSearchResultSet"
			class="SEURAT.search.importanceOverrides.ImportanceOverrideSearchResultPage">
		</viewPage>
		<viewPage
			id="SEURAT.search.commonArguments.CommonArgumentSearchResultPage"
			searchResultClass="SEURAT.search.commonArguments.CommonArgumentSearchResultSet"
			class="SEURAT.search.commonArguments.CommonArgumentSearchResultPage">
		</viewPage>
	</extension>
	
		<!-- Add A Button To The Search Menu That Opens The SEURAT Search Window -->   
	<extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="SEURAT.search.OpenSeuratSearchAction"
		   label="Open SEURAT Search"
		   visible="true">
		   <action id="SEURAT.search.OpenSeuratSearchAction"
			   menubarPath="org.eclipse.search.menu/dialogGroup"
			   label="SEURAT Search"
			   tooltip="Open The SEURAT Search Window"
			   icon="icons/ratSearch.gif"
			   class="SEURAT.search.OpenSeuratSearchAction"
			   >
		   </action>
	   </actionSet>
   </extension>
</plugin>
