<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="SEURAT"
   name="SEURAT Plug-in"
   version="2.0.0"
   provider-name="Janet Burge"
   class="edu.wpi.cs.jburge.SEURAT.SEURATPlugin">

   <runtime>
      <library name="SEURAT.jar">
         <export name="edu.wpi.cs.jburge.SEURAT.api.*"/>
      </library>
      <library name="mysql-connector-java-3.0.8-stable-bin.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="SEURAT"
            id="edu.wpi.cs.jburge.SEURAT">
      </category>
           <view
            name="RationaleExplorer"
            icon="icons/sample.gif"
            category="edu.wpi.cs.jburge.SEURAT"
            class="edu.wpi.cs.jburge.SEURAT.views.RationaleExplorer"
            id="edu.wpi.cs.jburge.SEURAT.views.RationaleExplorer">
      </view>
      <view
            name="Rationale Task List"
            icon="icons/sample.gif"
            category="edu.wpi.cs.jburge.SEURAT"
            class="edu.wpi.cs.jburge.SEURAT.views.RationaleTaskView"
            id="edu.wpi.cs.jburge.SEURAT.views.RationaleTaskView">
      </view>    
   </extension>
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="edu.wpi.cs.jburge.SEURAT.views.RationaleExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   
  <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="stack"
               id="edu.wpi.cs.jburge.SEURAT.views.RationaleTaskView">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         id="ratmarker"
         name="Rationale Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.bookmark">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="alternative">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            objectClass="org.eclipse.core.resources.IResource"
            location="TOP_LEFT"
            adaptable="true"
            label="%SEURATDecorator.rat"
            state="true"
            class="edu.wpi.cs.jburge.SEURAT.decorators.SEURATLightWeightDecorator"
            id="edu.wpi.cs.jburge.SEURAT.decorators.ratdecorator">
         <description>
            The SEURAT decorator indicating rationale presence
         </description>
      </decorator>
   </extension>


   
   <extension
   		 point="org.eclipse.ui.popupMenus">
   		<viewerContribution
   			id="edu.wpi.cs.jburge.SEURAT.action.contribution.popup.bookmark"
   			targetID="org.eclipse.ui.views.BookmarkNavigator">
   			<action
   			   label="Remove Association"
   			   class="edu.wpi.cs.jburge.SEURAT.actions.RemoveBookmarkAssociation"
   			   menubarPath="additions"
   			   enablesFor="+"
   			   id="edu.wpi.cs.jburge.SEURAT.actions.RemoveBookmarkAssociation">
   			  </action>
   		  </viewerContribution>
   	</extension> 	
   	
   	   <extension
   		 point="org.eclipse.ui.popupMenus">
   		<viewerContribution
   			id="edu.wpi.cs.jburge.SEURAT.action.contribution.popup.explorer"
   			targetID="org.eclipse.jdt.ui.PackageExplorer">
   			<action
   			   label="Remove Association"
   			   class="edu.wpi.cs.jburge.SEURAT.actions.RemoveRationaleAssociation"
   			   menubarPath="additions"
   			   enablesFor="+"
   			   id="edu.wpi.cs.jburge.SEURAT.actions.RemoveRationaleAssociation">
   			  </action>
   		  </viewerContribution>
   	</extension>
   	
   	<extension
   		 point="org.eclipse.ui.popupMenus">
   		<viewerContribution
   			id="edu.wpi.cs.jburge.SEURAT.action.contribution.popup.explorer"
   			targetID="org.eclipse.jdt.ui.PackageExplorer">
   			<action
   			   label="Associate"
   			   class="edu.wpi.cs.jburge.SEURAT.actions.AssociateAlternative"
   			   menubarPath="additions"
   			   enablesFor="+"
   			   id="edu.wpi.cs.jburge.SEURAT.actions.AssociateAlternative">
   			  </action>
   		  </viewerContribution>
   	</extension>
       <extension
             point="org.eclipse.ui.preferencePages">
          <page
                class="SEURAT.preferences.SEURATPreferencePage"
                id="SEURAT.preferences.SEURATPreferencePage"
                name="SEURAT"/>
       </extension>
       <extension
             point="org.eclipse.core.runtime.preferences">
          <initializer class="SEURAT.preferences.PreferenceInitializer"/>
       </extension>
       <extension
             point="org.eclipse.help.toc">
          <toc
                file="toc.xml"
                primary="true"/>
          <toc file="tocgettingstarted.xml"/>
          <toc file="tocreference.xml"/>
          <toc file="toctasks.xml"/>
          <toc file="tocsamples.xml"/>
       </extension>
   	

</plugin>
